/**
/* Minimo tema styles
/* Venus
/* Javascript for Drupal 8 theme
/* Jorge L Lopez - IT 390
/* Copyright 2018
*/

/*** Base Styles ***/
html{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f8f8f8;
}
body{
}
h1{font-size: 26px;}
h2{font-size: 24px;}
h3{font-size: 22px;}
h4{font-size: 20px;}
h5{font-size: 18px;}
h6{font-size: 16px;}
p{font-size: 15px;}

footer {
  text-decoration: #fff;
  text-shadow: #f8f8f8;
  color: #e0e1e2;;
  background-color: #727472;
  padding: 1rem 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.cta-blocklist-text {
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

}
.cta-blockbody-text{
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cta-blocklist-text li {
  line-height: 1.25%;
  border: none;
  background: transparent;
}
/** Layout Styles **/
#front {
  background: #f8f8f8;
  color: #069;
}
.wrapper {
  padding: 0 0;
  background-color: #d1d1d1;
  color: black;
}
section, article{
  padding: 1rem 0;
}
footer .col-footer{
  border-color: #d1d1d1;
}
/** Component Styles **/
.top-nav nav {
  background: linear-gradient(40deg, #007f9f, #036);
  color: #f8f8f8;
}
.navbar li a {
  color: #f8f8f8;
}
.navbar-brand {
  background: transparent !important;
  color: #f8f8f8 !important;
}
.dropdown-menu {
  background: #069;
  color: #f8f8f8;
}
.minimotema-field img{
  max-height: 480px;
  margin: 0;
}


#minimotema-carousel{
  margin: 1rem 0;
  padding: 1rem 0;
}
.jumbotron {
  background-image: url('/sites/default/files/2018-05/IMG_0901_xsm.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 384px;
  max-height: 480px;
  border-radius: 0;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  color: #e0e1e2;;
  font-weight: bold;
  text-align: end;
  text-decoration-color: #aea085;
  text-shadow: #aea085;
}

/* Featured Services */
#block-ourservices {
  text-align: center;
}
#block-ourservices h2 {
  text-transform: uppercase;
}
#block-ourservices p.block-subtitle {
  padding: 15px 0;
  font-size: 1.25em;
}

/* Feature bottom 2 grid */
#page-featured-bottom-first {
  margin-top: 4em;
}
#page-featured-bottom-first .service {
  padding-left: 60px;
  position: relative;
  margin-bottom: 20px;
}
#page-featured-bottom-first .service-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 36px;
  text-align: center;
  display: block;
  border-radius: 100em;
}

/** Card Block Header Placeholders **/
.card-cascade1 .card-narrow-heading .card-title {
  margin: 1.25rem 4% 1.25rem 4%;
  background: linear-gradient(40deg, #cfc5bc, #036);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  border-radius: .1rem;
}
.card-cascade2 .card-narrow-heading .card-title {
  margin: 1.25rem 4% 1.25rem 4%;
  background: linear-gradient(40deg, #a7b8b5, #036);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  border-radius: .1rem;
}


/** Card Block **/
#CTA_About, #CTA_AboutCC, #CTA_Experience {
  min-height: 400px;
}


.card-narrow-heading.card {
  margin: 1.25rem 1.25rem;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  border-radius: .1rem;
}

#page-featured-bottom-second .card-narrow-heading .card-title {
  margin: 1.25rem 4% 1.25rem 4%;
  background: linear-gradient(40deg, #cfc5bc, #036);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  border-radius: .1rem;
}

#CTA_About.card-narrow-heading.card .card-heading {
  margin: 1.25rem 4% 1.25rem 4%;
  background: #007f9f;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  border-radius: .1rem;
}
#CTA_Experience.card-narrow-heading.card .card-heading {
  margin: 1.25rem 4% 1.25rem 4%;
  background: linear-gradient(40deg, #007f9f, #036);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  border-radius: .1rem;
}
#CTA_AboutCC.card-narrow-heading.card .card-heading {
  margin: 1.25rem 4% 1.25rem 4%;
  background: #036;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  border-radius: .1rem;
}
h3.card-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  /*background: linear-gradient(40deg, #a7b8b5, #036);*/
  color: #f8f8f8;
}
.card-minimo-bland {
  background-color: #727472;
  border-color: #727472;
  text-decoration: #fff;
  text-shadow: #f8f8f8;
  color: #e0e1e2;
}
.card-minimo-bland > .card-heading {
  text-decoration: #fff;
  text-shadow: #f8f8f8;
  color: #e0e1e2;
  background-color: #727472;
  border-color: #727472;background: linear-gradient(40deg, #a7b8b5, #036);
}

.card-minimo-bland > .card-heading + .card-collapse > .card-body {
  border-top-color: #727472;
}

/** Carousel Component **/
#block-chicagoconnectcarousel {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}
.carousel-inner {
  margin: auto !important;
}
.carousel-inner > .item > img{
  margin:auto;

}

/** Footer Panels **/


.footer-panel, .panel-minimo-bland > .panel-heading .badge {
  text-decoration: #fff;
  text-shadow: #f8f8f8;
  color: #e0e1e2;
  background-color: #727472;
}
.panel-minimo-bland > .footer-panel + .panel-collapse > .panel-body {
  border-bottom-color: #727472;
  background-color: #727472;
}
.footer-panel.panel-minimo-bland ul.list-group li.list-group-item{
  background-color: transparent;
  border: none;
}




/** State Styles **/


/** Theme Styles **/

minimo-white {color: #E0E0E0;}
minim-offwhite {color: #d1d1d1}
minimo-gray {color: #a7b8b5}
minimo-beige{color: #cfc5bc;}
minimo-brown {color: #aea085;}
minimo-darkbrown {color: #847767;}
minimo-orange {color: #c88770;}
minimo-yellow {color: #009f00;}
minimo-green {color: #006332;}
minimo-bluegreen {color: #006332;}
minimo-blue {color: #007f9f;}
minimo-blueindigo {color: #036;}
minimo-indigo {color: #134a74;}
minimo-violet {color: #131925;}
minimo-black {color: #010101;}
minimo-bg-card-color, minimo-bg-card-color, minimo-bg-stamp-color{
  color: #036;
  background: #f8f8f8;
  border-bottom-style: inset;
}

#block-minimotema-main-menu-menu a {
  color: #e0e1e2 !important;
  border-color: #a7b8b5 !important;
}
span.custom-toggler.navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=082D3A');
}

@media only screen and (max-width: 576px) {
  
}

@media only screen and (max-width: 768px) {
  .col-footer, .cta-featured{
    display: block;

  }
  footer {
    text-align: center;
    line-height: 0.5rem;
  }
  #block-footercopyright div .card-heading, #block-footercopyright div .list-group .list-group-item:first-child {
    display: none;
  }
}

@media only screen and (max-width: 856px) {

}

@media only screen and (max-width: 992px) {
  .top-nav nav{
    background: #f8f8f8;
    color: #036;
  }
  .navbar-brand, .navbar li a {
    background: #f8f8f8 !important;
    color: #036 !important;
  }
  .dropdown-menu {
    background: #f8f8f8;
    color: #036 !important;
    border-color: #a7b8b5 !important;
  }
  #block-minimotema-main-menu-menu a {
    color: #036 !important;
    border-color: #a7b8b5 !important;
  }
  footer {
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .card {
    display: block !important;
  }
}

@media only screen and (max-width: 1200px) {

}