/**
/* Minimo tema styles
/* Venus
/* Javascript for theme
/* Jorge L Lopez - IT 390
/* Copyright 2018
*/

/*** Base Styles ***/
html{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f8f8f8;
}
body{
  /*padding-top: 51px;*/
}
h1{font-size: 26px;}
h2{font-size: 24px;}
h3{font-size: 22px;}
h4{font-size: 20px;}
h5{font-size: 18px;}
h6{font-size: 16px;}
p{font-size: 15px;}
footer {
  background: #fff;
}
/** Layout Styles **/
#front {
  background: #f8f8f8;
  color: #082d3a;
}
.wrapper {
  padding: 0 0;
  background-color: #d1d1d1;
  color: black;
}
section, article{
  padding: 1rem 0;
}

/** Component Styles **/
.top-nav nav {
  background: #082d3a;
  color: black;
}
col-footer{
  background-color: #d1d1d1;
  color: black;
}
.minimotema-field img{
  max-height: 480px;
  margin: 0;
}
.jumbotron {
  background-image: url('/sites/default/files/2018-05/IMG_0901_xsm.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 384px;
  max-height: 480px;
  color: #eee;
  font-weight: bold;
  text-align: end;
  text-decoration-color: #aea085;
  text-shadow: #aea085;
}
.panel-minimo-default {
  border-color: #a7b8b5;
}
.panel-minimo-default > .panel-heading {
  color: #1e698d;
  background-color: #e0e0e0;
  border-color: #a7b8b5;
}
.panel-minimo-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #a7b8b5;
}
.panel-minimo-default > .panel-heading .badge {
  color: #d1d1d1;
  background-color: #1e698d;
}
.panel-minimo-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #a7b8b5;
}
.panel-minimo-bland {
  background-color: #fff;
  border-color: #fff;
}
.panel-minimo-bland > .panel-heading {
  color: #1e698d;
  background-color: #fff;
  border-color: #a7b8b5;
}
.panel-minimo-bland > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #fff;
}
.panel-minimo-bland > .panel-heading .badge {
  color: #1e698d;
  background-color: #fff;
}
.panel-minimo-bland > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #fff;
}
.navbar li a {
  color: #d1d1d1;
}
.navbar-brand {
  color: #a7b8b5;
}
.dropdown-menu{
  background-color: #082d3a;
}
/** State Styles **/


/** Theme Styles **/

minimo-white {color: #E0E0E0;}
minim-offwhite {color: #d1d1d1}
minimo-gray {color: #a7b8b5}
minimo-beige{color: #cfc5bc;}
minimo-brown {color: #aea085}
minimo-darkbrown {color: #847767}
minimo-orange{color: #c88770;}
minimo-yellow {color: #009f00;}
minimo-green {color: #006332;}
minimo-bluegreen {color: #006332;}
minimo-blue {color: #007f9f;}
minimo-blueindigo {color: #1e698d}
minimo-indigo {color: #082d3a}
minimo-violet {color: #131925;}
minimo-black {color: #010101;}
minimo-bg-panel-color, minimo-bg-card-color, minimo-bg-stamp-color{
  background-color: #d1d1d1;
  color: #082d3a;
  border-bottom-style: inset;
}
.navbar-brand{
  color: #e0e0e0 !important;
}
#block-minimotema-main-menu-menu a {
  color: #e0e0e0 !important;
  border-color: #a7b8b5 !important;
}
span.custom-toggler.navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=082D3A');
}

@media only screen and (max-width: 576px) {
  
}

@media only screen and (max-width: 768px) {
  .cta-featured{
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .top-nav nav{
    background: #f6f6f6;
    color: #082d3a;
  }
  .navbar-brand, .navbar li a {
    color: #082d3a !important;
  }

  #block-minimotema-main-menu-menu a {
    color: #082d3a !important;
    border-color: #a7b8b5 !important;
  }

}

@media only screen and (max-width: 1200px) {

}