/**
/* Minimo tema styles
/* Javascript for theme
/* Jorge L Lopez - IT 390
/* Copyright 2018
*/

/*** Base Styles ***/
html{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #F8F8F8;
}
body{
  padding-top: 51px;
}
h1{font-size: 26px;}
h2{font-size: 24px;}
h3{font-size: 22px;}
h4{font-size: 20px;}
h5{font-size: 18px;}
h6{font-size: 16px;}
p{font-size: 15px;}

footer{
  background: #FFFFFF;
}
/** Layout Styles **/
#front {
	background: #F8F8F8;
	color: #082d3a;
}
.wrapper {
  padding: 0 0;
  background-color: #d1d1d1;
  color: black;
}
section, article{
  padding: 1rem 0;
}
.top-nav{
  background: #082d3a;
  color: black;
}

/** Component Styles **/
.top-nav nav {
  background: #082d3a;
  color: black;
}
col-footer{
  background-color: #d1d1d1;
  color: black;
}
.minimotema-field img{
  max-height: 480px;
  margin: 0;
}
.jumbotron {
  background-image: url('/sites/default/files/2018-05/IMG_0901_xsm.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 384px;
  max-height: 480px;
  color: #eee;
  font-weight: bold;
  text-align: end;
  text-decoration-color: #aea085;
  text-shadow: #aea085 ;
}
.panel-minimo-default {
  border-color: #a7b8b5;
}
.panel-minimo-default > .panel-heading {
  color: #1e698d;
  background-color: #E0E0E0;
  border-color: #a7b8b5;
}
.panel-minimo-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #a7b8b5;
}
.panel-minimo-default > .panel-heading .badge {
  color: #d1d1d1;
  background-color: #1e698d;
}
.panel-minimo-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #a7b8b5;
}

.panel-minimo-bland {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}
.panel-minimo-bland > .panel-heading {
  color: #1e698d;
  background-color: #FFFFFF;
  border-color: #a7b8b5;
}
.panel-minimo-bland > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #FFFFFF;
}
.panel-minimo-bland > .panel-heading .badge {
  color: #1e698d;
  background-color: #FFFFFF;
}
.panel-minimo-bland > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #FFFFFF;
}
.navbar li a {
  color: #d1d1d1;
}
.navbar-brand{
  color: #a7b8b5;
}
/** State Styles **/


/** Theme Styles **/

minimo-white {color: #E0E0E0;}
minim-offwhite {color: #d1d1d1}
minimo-gray {color: #a7b8b5}
minimo-beige{color: #cfc5bc;}
minimo-brown {color: #aea085}
minimo-darkbrown {color: #847767}
minimo-orange{color: #c88770;}
minimo-yellow {color: #009f00;}
minimo-green {color: #006332;}
minimo-bluegreen {color: #006332;}
minimo-blue {color: #007f9f;}
minimo-blueindigo {color: #1e698d}
minimo-indigo {color: #082d3a}
minimo-violet {color: #131925;}
minimo-black {color: #010101;}
minimo-bg-panel-color, minimo-bg-card-color, minimo-bg-stamp-color{
  background-color: #d1d1d1;
  color: #082d3a;
  border-bottom-style: inset;
}
.icon-bar {
  color: #131925;
  border-color: #d1d1d1;
  background-color: #E0E0E0;
}