{#
#
# Minimo tema theme
# Venus
# Libraries for theme
# Jorge L Lopez - IT 390
# Version 1805.25
# Copyright 2018
#
#}

<!-- start div -->
<div id="block-chicagoconnectcarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
	<ol class="carousel-indicators">
		<li data-target="#block-chicagoconnectcarousel" data-slide-to="0" class="active"></li>
		<li data-target="#block-chicagoconnectcarousel" data-slide-to="1"></li>
		<li data-target="#block-chicagoconnectcarousel" data-slide-to="2"></li>
		<li data-target="#block-chicagoconnectcarousel" data-slide-to="3"></li>
		<li data-target="#block-chicagoconnectcarousel" data-slide-to="4"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img alt="Sreenshot of website" class="d-block w-100" data-entity-type="file" data-entity-uuid="10dd81fd-4841-4bcc-ae0b-8d213bcef9f1" src="/sites/default/files/inline-images/Minimo-Carousel-HTML5-CSS-JavaScript.jpg" />
			<div class="carousel-caption d-none d-md-block">
				<h5>Responsive design with HTML5, CSS, and Javascript</h5>
				<p>...</p>
			</div>
		</div>

		<div class="carousel-item">
			<img alt="Screen shot of computer code" class="d-block w-100" data-entity-type="file" data-entity-uuid="9a05e209-8411-4514-a4e6-c9f09137c59a" src="/sites/default/files/inline-images/Minimo-Carousel-Twig-Drupal.jpg" />
			<div class="carousel-caption d-none d-md-block">
				<h5>Drupal 8 Theme Customization with Twig</h5>
				<p>...</p>
			</div>
		</div>

		<div class="carousel-item">
			<img alt="Make connections with developers" class="d-block w-100"  data-entity-type="file" data-entity-uuid="b842606a-c9ab-49b3-acaf-d3a60414b43e" src="/sites/default/files/inline-images/Minimo-Carousel-Chicago-Make-Connections2.jpg" />
			<div class="carousel-caption d-none d-md-block">
				<h5>Chicago Developers Standing Tall</h5>
				<p>...</p>
			</div>
		</div>

		<div class="carousel-item"><img alt="Screenshot of Drupal Admin" class="d-block w-100" data-entity-type="file" data-entity-uuid="ba587653-0dbc-40c1-8fef-ed6f6fdd459f" src="/sites/default/files/inline-images/Minimo-Carousel-Drupal-Themes.jpg" />
			<div class="carousel-caption d-none d-md-block">
				<h5>Drupal Site Generation and Customization on Github</h5>
				<p>...</p>
			</div>
		</div>

		<div class="carousel-item"><img alt="Screenshot of wordpress website" class="d-block w-100" data-entity-type="file" data-entity-uuid="893be933-52f8-4724-b3f2-9a81a4811d72" src="/sites/default/files/inline-images/Minimo-Carousel-WordPress-Themes.jpg" />
			<div class="carousel-caption d-none d-md-block">
				<h5>Custom Wordpress Themes And Site Building</h5>
				<p>...</p>
			</div>
		</div>

		<div class="carousel-item"><img alt="Image of street with rail above" class="d-block w-100" data-entity-type="file" data-entity-uuid="8cdbf7b8-7848-47f3-9486-3856a71b137c" src="/sites/default/files/inline-images/Minimo-Carousel-Chicago-Make-Connections.jpg" />
			<div class="carousel-caption d-none d-md-block">
				<h5>Connect With Developers In Chicago</h5>
				<p>...</p>
			</div>
		</div>

		<div class="carousel-item">
			<img alt="Screenshot of github code" class="d-block w-100" data-entity-type="file" data-entity-uuid="59df7ad8-fee6-4e46-b84d-4a772dabee72" src="/sites/default/files/inline-images/Minimo-Carousel-Check-Our-Github.jpg" />
			<div class="carousel-caption d-none d-md-block">
				<h5>View Our Code Samples on Github</h5>
				<p>...</p>
			</div>
		</div>

	</div>
	<a class="carousel-control-prev" href="#block-chicagoconnectcarousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#block-chicagoconnectcarousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
