{#
#
# Minimo tema theme
# Venus
# Libraries for theme
# Jorge L Lopez - IT 390
# Version 1805.25
# Copyright 2018
#
#}
{% block content %}
	<div class="row" id="featured-bottom-3">
		{{ content }}
	</div>
{% endblock %}