{#
#
# Minimo tema theme
# Venus
# Libraries for theme
# Jorge L Lopez - IT 390
# Version 1805.27
# Copyright 2018
#
#}
<div id="featured-bottom-3">
	{% block content %}
		{{ content }}
	{% endblock %}
</div>
