{#
#
# Minimo tema theme
# Luna
# Libraries for theme
# Jorge L Lopez - IT 390
# Version 1805.21
# Copyright 2018
#
#}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	{% block content %}
		{{ content }}
	{% endblock %}
</div>
