{#
#
# Minimo tema theme
# Venus
# Libraries for theme
# Jorge L Lopez - IT 390
# Version 1805.25
# Copyright 2018
#
#}
<!-- Begin Bottom CTA 3 -->
<section class="container-fluid" role="region" id="page-featured-bottom-third">
	<div class="cta-featured card-group">
		{% block content %}
			{{ content }}
		{% endblock %}
	</div>
</section>