{#
#
# Minimo tema theme
# Venus
# Libraries for theme
# Jorge L Lopez - IT 390
# Version 1805.25
# Copyright 2018
#
#}
<!-- Begin Bottom CTA 1 -->
<section class="container" role="region" id="page-featured-bottom-first">
	{% if content %}
		{{ content }}
	{% endif %}
</section>

